### Hello World Program

In [1]:
print("Hello World")

Hello World

In [2]:
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")? (796388850.py, line 1)

### Direct Calculations in Python

In [4]:
3+4

7

In [7]:
(6+9)/3 + 4

9.0

### Single line comment

In [3]:
# This is a single line comment in Python

print("Comment not printed")

Comment not printed

### Multi-line comment

In [1]:
# This is 
# a comment spanning
# multiple lines

In [3]:
'''
This is also a \
comment spanning \
multiple lines \
'''

'\nThis is also a comment spanning multiple lines '

### Python Keywords

In [12]:
#Some examples of Python Keywords

False
false

True
true

for

def

in

and
if
else
Else

False

### Python Identifiers

In [14]:
abc = 3

In [18]:
Abc = 5

In [15]:
2xy = 8

SyntaxError: invalid syntax (258518375.py, line 1)

In [17]:
x2y = 6.9

In [16]:
_ty = "valid"

In [20]:
ty@ = "invalid"

SyntaxError: invalid syntax (1038466189.py, line 1)

In [21]:
$gh = True

SyntaxError: invalid syntax (2848959606.py, line 1)

### Multiline Statements

In [4]:
item_one = 1
item_two = 2
item_three = 3

total = item_one + \
        item_two + \
        item_three 

total
print(type(item_three))

<class 'int'>

In [25]:
days = ['Monday', 'Tuesday', 'Wednesday', 
        'Thursday', 'Friday']

### Indentation

In [30]:
if (2==2+1): 
    print("True")
else: 
            print("False")

False

### String Quotations

In [31]:
word = 'word' 
sentence = "This is a sentence." 
paragraph = """This is a paragraph. It is made up of multiple lines and sentences."""

In [33]:
word = 'a single
        word'

SyntaxError: EOL while scanning string literal (142354662.py, line 1)

In [34]:
sentence = "This is a 
            sentence."

SyntaxError: EOL while scanning string literal (4256634102.py, line 1)

In [5]:
paragraph = """This is a paragraph. It is made up of 
                multiple lines and 
                sentences."""

In [6]:
paragraph

'This is a paragraph. It is made up of \n                multiple lines and \n                sentences.'

In [9]:
a=10
b=10
x=['a','b']
y=['a','b']
#print (id(a))
#print (id(b))
print (id(x))
print (id(y))
print (x==y)
print (x is y)

2473679574720
2473679573440
True
False

In [13]:
l=['sem',3,'shift',1]
c='sem'
print (c in l)
print (3 in l)
print ('shift' not in l)

True
True
False

In [21]:
m=int(input())
if(100>=m>=90):
    print ("A Grade")
elif(90>m>=80):
    print ("B Grade")
elif(80>m>=70):
    print ("C Grade")
elif(70>m>=60):
    print ("D Grade")
elif(60>m>=50):
    print ("E Grade")
else:
    print ("Failed!")

34
Failed!

In [23]:
a = int(input())
b = float(input())
d = input("Enter the arithmatic operation :")
if (d == "Add"):
    print(a+b)
elif (d == "Sub"):
    print(a-b)
elif (d == "Multi"):
    print(a*b)
elif (d == "Div"):
    print(a/b)
elif (d == "Intdiv"):
    print(a//b)
elif(d == "Sqr"):
    print(a**b)
else:
    print("Wrong Input!")

2
5
Enter the arithmatic operation :45
Wrong Input!

In [2]:
str1='Mary'
str2='Mark'
if(str1>str2):
    print (str1)
else:
    print (str2)

mary

In [3]:
str1='Mark'
str2='mark'
if(str1>str2):
    print (str1)
else:
    print (str2)

mark

In [4]:
str1='mark'
str2='marks'
if(str1>str2):
    print (str1)
else:
    print (str2)

marks

In [8]:
ord('a') #for finding ASI ii values

97

In [12]:
# program for finding largest number from user input
a= int(input("Enter 1st number :"))
b= int(input("Enter 2nd number :"))
c= int(input("Enter 3rd number :"))
if (b<a>c):
    print ("a is the largest")
elif (a<b>c):
    print ("b is the largest")
elif (a<c>b):
    print ("c is the largest")
if (b>a<c):
    print("a is the smallest")
elif (a>b<c):
    print("b is the smallest")
elif (a>c<b):
    print("c is the smallest")

Enter 1st number :111
Enter 2nd number :222
Enter 3rd number :333
c is the largest
a is the smallest

In [26]:
str1='Hello'
str2='Spam'
print (str1,str2)
print (str1+str2)
print (str1, str2, end='\n')
print(type(str1))
type(str2)

Hello Spam
HelloSpam
Hello Spam
<class 'str'>

str

In [48]:
strin='python'
print (strin[1:4]) #last value of range is excluded
print (strin[-6:])

yth
python

In [10]:
temp = float(input("Enter temprature: "))
a = input("Enter the unit of temprature in C and F: ")
C = (temp-32)*5/9
F = (temp+32)*9/5
if (a == 'F'):
    print (C)
if (a == 'C'):
    print (F)

Enter temprature: 32.132
Enter the unit of temprature in C and F: C
115.43760000000002

In [20]:
stri1="spam"
stri2="eggs"
print (stri1+stri2)
print (3*stri1)
print (stri2*5)
print ((3*stri1)+(stri2*5))
print (len(stri1))
for ch in stri1:
    print (ch,end=" ")

spameggs
spamspamspam
eggseggseggseggseggs
spamspamspameggseggseggseggseggs
4
s p a m

In [13]:
a=['p','y','t','h','o','n']
b=["python"]
a[2]='z'
print (a)
print (b)

['p', 'y', 'z', 'h', 'o', 'n']
['python']

In [23]:
ll=[[1,2,3]]
ll[0][1]=6
print (ll)

[[1, 6, 3]]

In [28]:
l1=['w',2,'t',4,'l']
l2=['m',1,'o',5,'q']
s1="qwerty"
print ((l1+l2)*4)

['w', 2, 't', 4, 'l', 'm', 1, 'o', 5, 'q', 'w', 2, 't', 4, 'l', 'm', 1, 'o', 5, 'q', 'w', 2, 't', 4, 'l', 'm', 1, 'o', 5, 'q', 'w', 2, 't', 4, 'l', 'm', 1, 'o', 5, 'q']

In [1]:
n=5
while n>0:
    print (n)
    n= n-1
print ("Blastoff!")
print (n)

5
4
3
2
1
Blastoff!
0

In [3]:
while True:
    line =input('> ')
    if line =='done':
        break
    print (line)
print ('Done!')

> hello there!
hello there!
> done
Done!

In [5]:
while True:
    line = input("> ")
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print (line)
print("Done!")

> #rt
> rty
rty
> ghj
ghj
> done
Done!

In [6]:
# "is" == identity function
# "in" == membership function
for i in [5, 4, 3, 2, 1] :
    print(i)
print("Blastoff!")

5
4
3
2
1
Blastoff!

In [8]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print("Happy New Year", friend)

Happy New Year Joseph
Happy New Year Glenn
Happy New Year Sally

In [17]:
list = [9, 41, 12, 3, 74, 15]
g=0
for i in list :
    if g<i:
        g=i
print (g)

74

In [29]:
rows=int(input("Enter number of rows you want:"))
for(i==1,i<==rows,i++)
for(j==1,j<==rows-i,j++)
printf(" ")
for(k==1,k<==i,k++, l++)
printf("%d ",l)
printf("\n")

SyntaxError: invalid syntax (1297477006.py, line 2)

In [31]:
print (range(9))

range(0, 9)

In [4]:
n=int(input("Enter the range of numbers to be printed"))
a=n+1
for i in range (a):
    print (i)

Enter the range of numbers to be printed12
0
1
2
3
4
5
6
7
8
9
10
11
12

In [10]:
import random
random.seed()
print(random.random())

0.9642529012532627

In [8]:
random.seed(4)
print(random.random())
random.seed(4)
print(random.random())

0.23604808973743452
0.23604808973743452

In [3]:
list1=[1,2,"3",4]
print(list1)

[1, 2, '3', 4]

In [12]:
list1[1]=4
print(list1)

[1, 4, '3', 4]

In [15]:
list1[1:3]=[5,9]
print(list1)

[1, 5, 9, 4]

In [4]:
list1.append(619-24)
print(list1)

[1, 2, '3', 4, 595]

In [21]:
del(list1[6:8])
print(list1)

[1, 5, 9, 4, 619, 643]

In [22]:
print([1,2,3]+[7,5,6])

[1, 2, 3, 7, 5, 6]

In [25]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [34]:
l1=[1,2,3]
l2=["a","b","c"]
l1.extend(l2)#it concatinates on the applied list, rather than making third list like in +
print(l1)

[1, 2, 3, 'a', 'b', 'c']

In [20]:
l1=[123,"xyz",234,"xyz"]
#returns the lowest index of the object of the list
l1.index("xyz")

1

In [22]:
l1.insert(3,2204)#inserts an object in list at the given index
print (l1)

[123, 'xyz', 234, 2204, 'xyz']

In [18]:
print(l1.pop())#removes last element from the list and print it(offset index is optional)
print (l1)

xyz
[123, 'xyz', 234, 2204]

In [19]:
l1.remove(2204)#removes a particular object from list by object as a reference
print (l1)

[123, 'xyz', 234]

In [24]:
l1.reverse()
print (l1)

['xyz', 2204, 234, 'xyz', 123]

In [17]:
l2=[123,46,145,201]
l2.sort(reverse=True)
print (l2)

[201, 145, 123, 46]

In [6]:
#Write a program to swap two strings
l1="hello python"
a=l1[0:5]
b=l1[5:12]
print (b+" "+a)

 python hello

In [40]:
str1="I am going to school"
a=str1[0:1]
b=str1[2:4]
c=str1[5:10]
d=str1[10:12]
e=str1[13:21]
print(c+" "+e)

going  school

In [29]:
#Make a list of first ten letters of the alphabets, then use the slicling to do the following operations:
#1) Print the first three letters in the list
#2) Print any three letters from the middle
#3) Print the letter from any particular index to the end of the list
l1=['a','b','c','d','e','f','g','h','i','j']

#1) Print the first three letters in the list
print(l1[0:3])
#2) Print any three letters from the middle
print(l1[int((len(l1)/2)):int((len(l1)/2)+3)])
#3) Print the letter from any particular index to the end of the list
print (l1[5:])

['a', 'b', 'c']
['f', 'g', 'h']
['f', 'g', 'h', 'i', 'j']

In [6]:
dict1={'Name':'Ram','Roll No':101}# Name and Roll No are keys
print (dict1)
print (dict1['Name'])#Every key is associated with its ltem value

{'Name': 'Ram', 'Roll No': 101}
Ram

In [8]:
dict1['Name']='Rohan'#Updation of value of a key in dictionary
print (dict1)
dict1['Course']='BCA'#Insertion in dictionary
print (dict1)

{'Name': 'Rohan', 'Roll No': 101}
{'Name': 'Rohan', 'Roll No': 101, 'Course': 'BCA'}

In [9]:
del dict1['Course']#Deletion using key value
print (dict1)

{'Name': 'Rohan', 'Roll No': 101}

In [21]:
#Write a program that scans an email address and forms a tuple of user name and domain
emads=input("Enter your email address:")
a=emads.index("@")
tpl={emads[0:a],emads[(a+1):len(emads)]}
print (tpl)

Enter your email address:foxy2034@gmail.com
{'gmail.com', 'foxy2034'}

In [8]:
row = int(input('Enter no. of rows'))
for i in range(1,row+1):  
    for j in range(1, row+1-i):
        print(' ', end='')
    for j in range(i,0,-1):
        print(j, end='')
    for j in range(2,i+1):
        print(j, end='')
    print()

Enter no. of rows4
   1
  212
 32123
4321234

In [1]:
dict1={'1':'abc',2:'xyz'}
print (dict1)

{'1': 'abc', 2: 'xyz'}

In [2]:
print (len(dict1))

2

In [3]:
dict1.clear()
print (dict1)

{}

In [4]:
dict1={1:'abc',2:'xyz'}
dict2=dict1.copy()
print (dict2)

{1: 'abc', 2: 'xyz'}

In [5]:
print (dict1.get(2))

xyz

In [6]:
dict3={5:'hy'}
dict3.update(dict1)
print (dict3)

{5: 'hy', 1: 'abc', 2: 'xyz'}

In [1]:
#Create a dictionary whose keys are month names and whose values are the number of days in the corrresponding month
#1)ask a user to enter the month name and use the dictonary to tell them how many days are in the month
#2)print out all the keys in alphabetical order
dicti1={'Jan':31,'Feb':28,'Mar':31,'Apr':30,'May':31,'Jun':30,'Jul':31,'Aug':31,'Sep':30,'Oct':31,'Nov':30,'Dec':31}
a=input("Enter the month name like jan feb etc")
print (dicti1.get(a))
for key in sorted(dicti1.keys()):
    print ((key, dicti1[key]))

Enter the month name like jan feb etcFeb
28
('Apr', 30)
('Aug', 31)
('Dec', 31)
('Feb', 28)
('Jan', 31)
('Jul', 31)
('Jun', 30)
('Mar', 31)
('May', 31)
('Nov', 30)
('Oct', 31)
('Sep', 30)

In [20]:
#Write a program to find the product of all elements of a list
ll=[2,4,6,3,9]
p=1
for n in range(0,len(ll)):
    p=p*ll[n]
print (p)

1296

In [22]:
#for even index sum
sum=0
for i in range(len(ll)):
    if(i%2==0):
        sum=sum+ll[i]
print (sum)

17

In [29]:
#Given two list l1 and l2
l1=[1,2,3,4,5,6]
l2=[7,8,9,10,11,12]
l3=[0,0,0,0,0,0]
for i in range(0,len(l1)):
        l3[i]=l1[i]+l2[i]
print (l3)

[8, 10, 12, 14, 16, 18]

In [42]:
#Create a dictionary and convert it into list
dict12={'a':12,'b':23,'c':76}
l4=[0,0,0]
s=0
for i in range(0,len(l4)):
    for key in(dict12.keys()):
        l4[i]=key
print (l4)

['c', 'c', 'c']

In [7]:
#Print al the elements of the list starting from the index 3
lw=[1,2,3,4,5]
print (lw[-3:-1])#Slicing using Negative Indexing
print (lw[3:])

[3, 4]
[4, 5]

In [10]:
#Write a program to chech whether the number taken from user exist in the list or not
num=int(input("Enter a number"))
l1=[2,4,6,8,10]
for i in range(len(l1)):
    if(l1[i]==num):
        print ("Number exist in the list!")
        break
    else:
        print ("Not Found!")
        break

Enter a number4
Not Found!

In [28]:
#Given two list check whether they are same or not
l1=[2,3,4,5]
l2=[2,3,4,5]
if(l1==l2):
    print ("They are same!")
else:
    print ("Lists are not same!")

They are same!

In [35]:
#Write a program to print first 10 natural numbers
i=10
while(i>=1):
    print (i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [9]:
#Write a program to find the sum of all even numbers between 1 to 100
a=0
for i in range(1,101):
    if(i%2==0):
        a+=i
print (a)

2550

In [14]:
#Write a program to find the sum of all digits of a number
sum=0
a=int(input("Enter a number"))
while(a>0):
    m=a%10
    sum=sum+m
    a=int(a/10)
print (sum)

Enter a number123
6

In [20]:
#Write a program to reverse a given number
s=0
a=int(input("Enter a number"))
while(a>0):
    m=a%10
    s=s*10+m
    a=int(a/10)
print (s)

Enter a number234
432